{{- if .Values.createWebhookRBAC -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "kpack.fullname" . }}-webhook-certs-admin
  namespace: {{ .Release.Namespace }}
  labels: {{- include "kpack.labels" . |  nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  resourceNames:
  - {{ include "kpack.fullname" . }}-webhook-certs
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "kpack.fullname" . }}-webhook-certs-admin-binding
  namespace: {{ .Release.Namespace }}
  labels: {{- include "kpack.labels" . |  nindent 4 }}
subjects:
- kind: ServiceAccount
  name: {{ include "kpack.webhookServiceAccountName" . }}
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ include "kpack.fullname" . }}-webhook-certs-admin
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kpack.fullname" . }}-webhook-config-admin
  labels: {{- include "kpack.labels" . |  nindent 4 }}
rules:
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  resourceNames:
  -  {{ include "kpack.fullname" . }}.defaults.webhook.kpack.io
  verbs:
  - update
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  resourceNames:
  -  {{ include "kpack.fullname" . }}.validation.webhook.kpack.io
  verbs:
  - update
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "kpack.fullname" . }}-webhook-config-admin-binding
  labels: {{- include "kpack.labels" . |  nindent 4 }}
subjects:
- kind: ServiceAccount
  name: {{ include "kpack.webhookServiceAccountName" . }}
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ include "kpack.fullname" . }}-webhook-config-admin
  apiGroup: rbac.authorization.k8s.io
{{- end -}}