#@ load("@ytt:data", "data")

apiVersion: apps/v1
kind: Deployment
metadata:
  name: kpack-controller
  namespace: kpack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kpack-controller
  template:
    metadata:
      labels:
        app: kpack-controller
    spec:
      serviceAccountName: controller
      containers:
      - name: controller
        image: #@ data.values.controller_image
        env:
        - name: BUILD_INIT_IMAGE
          value: #@ data.values.build_init_image
        - name: SOURCE_INIT_IMAGE
          value: #@ data.values.source_init_image
        - name: CRED_INIT_IMAGE
          value: #@ data.values.cred_init_image
        - name: NOP_IMAGE
          value: #@ data.values.nop_image
