apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: stacks.experimental.kpack.pivotal.io
spec:
  group: experimental.kpack.pivotal.io
  version: v1alpha1
  names:
    kind: Stack
    singular: stack
    plural: stacks
    categories:
    - kpack
  scope: Cluster
  subresources:
    status: {}