name: Renovate

on:
  schedule:
    - cron: '0 */12 * * *'

jobs:
  renovate_main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v40.2.2
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
        env:
          RENOVATE_REPOSITORIES: "buildpacks-community/kpack"
          RENOVATE_PLATFORM: github
          RENOVATE_PRUNE_STALE_BRANCHES: false
          RENOVATE_PR_HOURLY_LIMIT: 10
          LOG_LEVEL: DEBUG
          RENOVATE_ADD_LABELS: dependencies

  renovate_branches:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v40.2.2
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
        env:
          RENOVATE_REPOSITORIES: "buildpacks-community/kpack"
          RENOVATE_PLATFORM: github
          RENOVATE_PRUNE_STALE_BRANCHES: false
          RENOVATE_PR_HOURLY_LIMIT: 10
          LOG_LEVEL: DEBUG
          RENOVATE_ADD_LABELS: dependencies
          RENOVATE_BASE_BRANCHES: '["release/v0.12.x", "release/v0.11.x", "release/v0.10.x", "release/v0.9.x"]'
          RENOVATE_PACKAGE_RULES: |
            [
                {
                  "groupName": "all patch dependencies",
                  "groupSlug": "all-patch",
                  "matchPackagePatterns": ["*"],
                  "matchUpdateTypes": ["patch"]
                }
              ]